# Data Science Tools and Ecosystem

In this notebook, Data Science tools and ecosystem are summarized.

Some of the popular languages that data scientists use are:
    1. Python
    2. R
    3. SQL
    4. C++
    5. Java etc.

some of the commonly libraries used by data scientists include:
    1. tensorflow
    2. Numpy
    3. Scipy
    4. Pandas
    5. Matplotlib
    6. Keras
    7. Scikit-learn
    8. Pytorch etc...;

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expression in python.

In [7]:
#this is a common arithmetic example to multiply and then add integers
(3*4)+5

17

In [8]:
#this will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

_objective_
* List popular languages for data science
* List popular Libraries for data science
* List of well known data science tools
* how to provide comments in the cell

# Author
Lakshmi Holla